In [1]:
def l(list1):
    list2 =[]
    for a in list1:
        if a not in list2:
            list2.append(a)
        
    return list2
 

print(l([11,2,3,4,4,4,5,6,7,7]))

[11, 2, 3, 4, 5, 6, 7]

In [2]:
def multiply_num(*list1):
    
    f = 1
    for x in list1:
        f = f*x
    return f


print(multiply_num(1,2,3,4,5,6))

720

In [3]:
def string(s):
    s1 = s[::-1]
    
    if(s==s1):
        print("The String is palindrome")
    else:
        print("The String is not palindrome")

string("madam")

The String is palindrome

In [4]:
def square_of_numbers(n):
    print([i**2 for i in range(1, n+1)])
square_of_numbers(30)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [5]:
def local_variables():
    l = 1
    m = 1
print(local_variables.__code__.co_nlocals)

2

In [6]:
def func(n,p):
    if p == 0:
        return 1
    else:
        return n*func(n,p-1)
    print(func(n,p))
    
func(7,5)

16807

In [7]:
def showNumbers(limit):
    for i in range(0, limit+1):
        if i%2 == 0:
            print(i, "EVEN")
        else:
            print(i,"ODD")


showNumbers(3)

0 EVEN
1 ODD
2 EVEN
3 ODD

In [8]:
def sum_of_multiples(limit):
    sum = 0
    for i in range(0,limit+1):
        if i%3 == 0 or i%5 == 0:
            sum+=i
            
    print(sum)
sum_of_multiples(50)

593

In [9]:
def concatenate(list1, list2):
    concate_list = []
    for item1 in list1:
        for item2 in list2:
            concate_list.append(item1+" "+item2)
    return concate_list
concatenate(["Hello","take"],["Dear","Sir"])

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [10]:
def remove_occurrences(l,t):
    remove = [i for i in l if i!=t]
    return remove
l = [1,2,3,4,5,5,6,7,7,7,7,4,5,6,3]
remove_occurrences(3,6)

TypeError: 'int' object is not iterable